{% extends "base.html" %} {% block content %}
<style>
	/* .card {
		border-radius: 0;
		box-shadow: 5px 5px 15px #bfbfbf;
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		color: black;
	}
	.card:hover {
		background: #585858;
		color: #fff;
		border-radius: 5px;
		border: none;
		box-shadow: 5px 5px 10px #9e9e9e;
	}
	.card:hover h3,
	.card:hover i {
		color: #fff;
	} */
</style>
<div class="col-md-12 d-md-flex">
    <div class = "col-md-6 justify-content-md-center text-center" style="background-color: rgb(238, 242, 255); margin: 20px;border-radius: 30px;font-size: 25px;">
        <br>
        

        <h4 style="color:rgb(3, 1, 18)  ;">Tuongee at a glance.</h4>
        
        <p>Tuongee is a non-profit, non-political mental health organization that aims to provide a foundation for psychological aid so as to equip generations with tools to foster mental wellness. Tubonge purposes to create a platform where mental health is addressed openly to create awareness, promote mental health and prevent development of mental health challenges.</p>
        </div>
        <div class = col-md-6> 
            <img src="https://img.freepik.com/free-vector/tiny-people-beautiful-flower-garden-inside-female-head-isolated-flat-illustration_74855-11098.jpg?t=st=1655846442~exp=1655847042~hmac=b5bf2d5f8472e684491c1aaeaca15f6da311ce6d0b5f4eab4413a65ca8c45546&w=740" class="img-fluid"  alt="...">    
        </div>
    </div> 
    <div class="row col-md-12" style="background-color: rgb(255, 255, 255); width: 100vw;height: 200px;">
        
        <div class="col-sm-3" style="padding-top: 50px;">
          <div class="card text-center" style="border-color:#fff;height: 141px;">
            <div class="card-body" >
              <h5 class="card-title">100+</h5>
              <p class="card-text">Mental health panel discussions</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3" style="padding-top: 50px;">
          <div class="card text-center" style=" height: 141px;border-color:#fff;">
            
            <div class="card-body">
              <h5 class="card-title" id="number1">15+ </h5>
              <p class="card-text">counseling sessions</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3" style="padding-top: 50px;">
            <div class="card text-center" style=" height: 141px;border-color:#fff;">
              <div class="card-body">
                <h5 class="card-title" id="number2">25+</h5>
                <p class="card-text">community outreach</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3" style="padding-top: 50px;">
            <div class="card text-center" style=" height: 141px;border-color:#fff;">
              <div class="card-body">
                <h5 class="card-title" id="number3">50+</h5>
                <p class="card-text">school outreaches</p>
                
              </div>
            </div>
          </div>
      </div>
        
<br>
<div class="row" style="background-color: rgb(16, 53, 100); height: 300px;">
    <div class="col-sm-4">
      <div class="card text-center" style="background-color: rgb(16, 53, 100);color: #fff;">
        <div class="card-body">
            <br>
          <h5 class="card-title">Vision</h5>
          <p class="card-text">

            Tuongee envisions a society where people are holistically happy, productive and immune from mental health problems.
            
            </p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="card text-center" style="background-color: rgb(16, 53, 100);color: #fff;">
        <div class="card-body">
            <br>
          <h5 class="card-title">Mission</h5>
          <p class="card-text">

            Our mission is to provide psychological aid to prevent development of mental health challenges and create platforms where mental wellness is the foundation of a healthy generation.
            
            </p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center" style="background-color: rgb(16, 53, 100);color: #fff;" >
          <div class="card-body">
            <br>
            <h5 class="card-title">Goal</h5>
            <p class="card-text">

                To develop a mental health toolbox equipped with knowledge and strategies 
                that will comprehensively cater for mental health needs. </p>
            
          </div>
        </div>
      </div>
  </div>
<br>
<br>
<div class="row" id="contact">
    <h4 class="text-center" style="color: rgb(16, 53, 100);">Contact us</h4>
    <div class="col-sm-3">
      <div class="card" style="border-color:#fff;">
        <div class="card-body">
            <ul class="fa-ul">
                <li><i class="fab fa-twitter" style="color:rgb(52, 126, 169) !important;"></i>   Twitter</li>
                <br>
                <li><i class="fab fa-instagram" style="color:rgb(223, 32, 61)  !important;"></i>   Instagram</li>
                <br>
                <li><i class="fab fa-facebook-f" style="color:rgb(6, 53, 139) !important;"></i>  Facebook</li>
                
              </ul>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card " style="border-color:#fff;">
        <div class="card-body">
            <ul class="fa-ul">
                <li><i class="fa fa-phone-square" style="color:rgb(46, 174, 46) !important;"></i>  1234567</li>
                <br>
                <li><i class="fa fa-envelope" style="color:rgb(224, 14, 14) !important;"></i>  tuonge@gmail.com</li>
                <br>
                <li><i class="fa fa-map-marker" style="color:rgb(52, 126, 169) !important;" ></i> Ngong lane plaza,Nairobi</li>
                
              </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card " style="border-color:#fff;">
          <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.79053718226!2d36.78239551536058!3d-1.3005322990514374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109dcb26a413%3A0xca1c503989df391d!2sNgong%20Lane%20Plaza!5e0!3m2!1sen!2ske!4v1655895293155!5m2!1sen!2ske" width="550" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
          </div>
        </div>
      </div>
  </div>

{% endblock %}
